In [56]:
import pandas as pd
from functools import reduce

In [57]:
%%capture
full_df=pd.read_csv('PROJECTS.csv')

In [58]:
%%capture
full_df.info()

In [59]:
for x in full_df.iloc[:,18:100]:
    full_df[x] = full_df[x].astype('string')

In [60]:
for x in full_df.iloc[:,18:100]:
    full_df[x] = full_df[x].str.replace(',', '').astype(float)

In [61]:
for x in full_df.iloc[:,115:142]:
    full_df[x] = full_df[x].astype('string')

In [62]:
for x in full_df.iloc[:,115:142]:
    full_df[x] = full_df[x].str.replace(',', '').astype(float)

In [63]:
%%capture
full_df['2020.3'].sum()

In [64]:
for x in full_df.iloc[:,18:100]:
    full_df[x] = full_df[x].astype('string')

In [65]:
%%capture
full_df.iloc[:, 114:142].info()

In [66]:
df_melt1 = pd.melt(full_df, id_vars='Project ID', value_vars=['1996','1997','1998', '1999','2000','2001','2002','2003','2004',
                                                       '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014',
                                                       '2015','2016','2017','2018','2019','2020','2021','2022'], var_name ='year_cred_issued', value_name='carbon_cred_issued')

In [67]:
%%capture
df_melt1.info()

In [68]:
%%capture d0
df_melt1.tail()

In [69]:
##need to fix year unknown
df_melt2 = pd.melt(full_df, id_vars='Project ID', value_vars=['1996.1','1997.1','1998.1', '1999.1','2000.1','2001.1','2002.1','2003.1','2004.1',
                                                       '2005.1','2006.1','2007.1','2008.1','2009.1','2010.1','2011.1','2012.1','2013.1','2014.1',
                                                       '2015.1','2016.1','2017.1','2018.1','2019.1','2020.1','2021.1','2022.1'], var_name ='year_cred_retire', value_name='carbon_cred_retire')

In [70]:
%%capture d1
df_melt2.tail()

In [71]:
df_melt3 = pd.melt(full_df, id_vars='Project ID', value_vars=['1996.3','1997.3','1998.3', '1999.3','2000.3','2001.3','2002.3','2003.3','2004.3',
                                                       '2005.3','2006.3','2007.3','2008.3','2009.3','2010.3','2011.3','2012.3','2013.3','2014.3',
                                                       '2015.3','2016.3','2017.3','2018.3','2019.3','2020.3','2021.3','2022.3'], var_name ='year_cred_reg', value_name='carbon_cred_reg')

In [72]:
df_melt2["year_cred_retire"] = df_melt2["year_cred_retire"].astype("string")
df_melt3["year_cred_reg"] = df_melt3["year_cred_reg"].astype("string")

In [73]:
#data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))
#df_melt2["year_cred_retire"]=df_melt2["year_cred_retire"].map(lambda x: x.rstrip('.1'))
#df_melt2["year_cred_retire"]=df_melt2["year_cred_retire"].str.replace(".1","")
#df_melt3["year_cred_reg"]=df_melt3["year_cred_reg"].str.replace(".3","")
df_melt2["year_cred_retire"]=df_melt2["year_cred_retire"].str[:-2]

In [74]:
df_melt3["year_cred_reg"]=df_melt3["year_cred_reg"].str[:-2]

In [75]:
%%capture
df_melt3.year_cred_reg.value_counts()

In [76]:
df_melt_merge=pd.merge(df_melt1, df_melt2, left_on=['Project ID','year_cred_issued'], 
                       right_on=['Project ID','year_cred_retire'], how='outer')

In [77]:
%%capture
df_melt_merge.info()

In [91]:
%%capture d2
df_melt_merge.tail()

In [92]:
df_melt_merge=pd.merge(df_melt_merge, df_melt3, left_on=['Project ID','year_cred_issued'], 
                       right_on=['Project ID','year_cred_reg'], how='outer')

In [93]:
%%capture
df_melt_merge.info()

In [94]:
%%capture d3
df_melt_merge.tail()

In [95]:
df_final= pd.merge(full_df.iloc[:,0:18],df_melt_merge, how='left', on='Project ID')

In [96]:
%%capture
df_final.info()

In [97]:
%%capture d4
df_final.tail()

In [98]:
d0()

       Project ID year_cred_issued carbon_cred_issued
164182     ACR324             2022                0.0
164183     ACR255             2022                0.0
164184     ACR360             2022                0.0
164185     ACR101             2022               <NA>
164186    CAR1000             2022               <NA>

In [99]:
d1()

       Project ID year_cred_retire carbon_cred_retire
164182     ACR324           2022.1                0.0
164183     ACR255           2022.1                0.0
164184     ACR360           2022.1                0.0
164185     ACR101           2022.1               <NA>
164186    CAR1000           2022.1               <NA>

In [100]:
d2()

,Project ID,year_cred_issued,carbon_cred_issued,year_cred_retire,carbon_cred_retire,year_cred_reg,carbon_cred_reg
164182,ACR324,2022,0.0,2022,0.0,2022,0.0
164183,ACR255,2022,0.0,2022,0.0,2022,0.0
164184,ACR360,2022,0.0,2022,0.0,2022,314277.0
164185,ACR101,2022,<NA>,2022,<NA>,2022,NaN
164186,CAR1000,2022,<NA>,2022,<NA>,2022,NaN

In [101]:
d3()

,Project ID,year_cred_issued,carbon_cred_issued,year_cred_retire,carbon_cred_retire,year_cred_reg_x,carbon_cred_reg_x,year_cred_reg_y,carbon_cred_reg_y
164182,ACR324,2022,0.0,2022,0.0,2022,0.0,2022,0.0
164183,ACR255,2022,0.0,2022,0.0,2022,0.0,2022,0.0
164184,ACR360,2022,0.0,2022,0.0,2022,314277.0,2022,314277.0
164185,ACR101,2022,<NA>,2022,<NA>,2022,NaN,2022,NaN
164186,CAR1000,2022,<NA>,2022,<NA>,2022,NaN,2022,NaN

In [102]:
d4()

,Project ID,Project Name,Voluntary Registry,ARB \nProject,Voluntary Status,Scope,Type,Reduction / Removal,Methodology / Protocol,Region,...,Total Credits Remaining,First Year of Project,year_cred_issued,carbon_cred_issued,year_cred_retire,carbon_cred_retire,year_cred_reg_x,carbon_cred_reg_x,year_cred_reg_y,carbon_cred_reg_y
164182,CAR1000,EOS ARB ODS 2013-5,CAR,Yes,#REF!,Chemical Processes,Ozone Depleting Substances Recovery & Destruction,Reduction,NaN,North America,...,0,2013.0,2018,<NA>,2018,<NA>,2018,NaN,2018,NaN
164183,CAR1000,EOS ARB ODS 2013-5,CAR,Yes,#REF!,Chemical Processes,Ozone Depleting Substances Recovery & Destruction,Reduction,NaN,North America,...,0,2013.0,2019,<NA>,2019,<NA>,2019,NaN,2019,NaN
164184,CAR1000,EOS ARB ODS 2013-5,CAR,Yes,#REF!,Chemical Processes,Ozone Depleting Substances Recovery & Destruction,Reduction,NaN,North America,...,0,2013.0,2020,<NA>,2020,<NA>,2020,NaN,2020,NaN
164185,CAR1000,EOS ARB ODS 2013-5,CAR,Yes,#REF!,Chemical Processes,Ozone Depleting Substances Recovery & Destruction,Reduction,NaN,North America,...,0,2013.0,2021,<NA>,2021,<NA>,2021,NaN,2021,NaN
164186,CAR1000,EOS ARB ODS 2013-5,CAR,Yes,#REF!,Chemical Processes,Ozone Depleting Substances Recovery & Destruction,Reduction,NaN,North America,...,0,2013.0,2022,<NA>,2022,<NA>,2022,NaN,2022,NaN

In [103]:
df_final.to_csv("carbon_credits_final.csv")