In [25]:
import pandas as pd
from functools import reduce

In [3]:
full_df=pd.read_csv('PROJECTS.csv')

/var/folders/s7/_b96xmkx3klbpc4y0sz29j0r0000gn/T/ipykernel_16925/3132898542.py:1: DtypeWarning: Columns (19,20,21,44,55,56,72,74,75,76,77,99,109,121,124,125,126,142) have mixed types. Specify dtype option on import or set low_memory=False.
  full_df=pd.read_csv('PROJECTS.csv')

In [177]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Columns: 148 entries, Project ID to first issuance yr (no hard code, hide w formulas)
dtypes: float64(112), object(36)
memory usage: 6.9+ MB

In [144]:
for x in full_df.iloc[:,18:100]:
    full_df[x] = full_df[x].astype('string')

In [145]:
for x in full_df.iloc[:,18:100]:
    full_df[x] = full_df[x].str.replace(',', '').astype(float)

In [153]:
for x in full_df.iloc[:,115:142]:
    full_df[x] = full_df[x].astype('string')

In [154]:
for x in full_df.iloc[:,115:142]:
    full_df[x] = full_df[x].str.replace(',', '').astype(float)

In [160]:
full_df['2020.3'].sum()

219030066.0

In [6]:
for x in full_df.iloc[:,18:100]:
    full_df[x] = full_df[x].astype('string')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Project Owner                         1565 non-null   object
 1   Offset Project Operator               402 non-null    object
 2   Authorized Project Designee           340 non-null    object
 3   Verifier                              636 non-null    object
 4   Estimated Annual Emission Reductions  4854 non-null   object
 5   PERs                                  18 non-null     object
 6   Registry / ARB                        6081 non-null   object
 7   ARB Project Detail                    1196 non-null   object
 8   ARB ID                                526 non-null    object
 9   Project Listed                        683 non-null    object
dtypes: object(10)
memory usage: 475.2+ KB

In [152]:
full_df.iloc[:, 114:142].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Project Website  2747 non-null   object
 1   1996.3           6077 non-null   float64
 2   1997.3           6077 non-null   float64
 3   1998.3           6077 non-null   float64
 4   1999.3           6077 non-null   float64
 5   2000.3           6077 non-null   float64
 6   2001.3           6077 non-null   float64
 7   2002.3           6077 non-null   object
 8   2003.3           6077 non-null   float64
 9   2004.3           6077 non-null   float64
 10  2005.3           6077 non-null   object
 11  2006.3           6077 non-null   object
 12  2007.3           6077 non-null   object
 13  2008.3           6077 non-null   object
 14  2009.3           6077 non-null   object
 15  2010.3           6077 non-null   object
 16  2011.3           6077 non-null   object
 17  2012.3           6077 non-null   object
 18  2013.3           6077 non-null   object
 19  2014.3           6077 non-null   object
 20  2015.3           6077 non-null   object
 21  2016.3           6077 non-null   object
 22  2017.3           6077 non-null   object
 23  2018.3           6077 non-null   object
 24  2019.3           6077 non-null   object
 25  2020.3           6077 non-null   object
 26  2021.3           6077 non-null   object
 27  2022.3           6077 non-null   object
dtypes: float64(8), object(20)
memory usage: 1.3+ MB

In [10]:
df_melt1 = pd.melt(full_df, id_vars='Project ID', value_vars=['1996','1997','1998', '1999','2000','2001','2002','2003','2004',
                                                       '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014',
                                                       '2015','2016','2017','2018','2019','2020','2021','2022'], var_name ='year_cred_issued', value_name='carbon_cred_issued')

In [11]:
df_melt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164187 entries, 0 to 164186
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Project ID          164187 non-null  object
 1   year_cred_issued    164187 non-null  object
 2   carbon_cred_issued  164079 non-null  object
dtypes: object(3)
memory usage: 3.8+ MB

In [103]:
##need to fix year unknown
df_melt2 = pd.melt(full_df, id_vars='Project ID', value_vars=['1996.1','1997.1','1998.1', '1999.1','2000.1','2001.1','2002.1','2003.1','2004.1',
                                                       '2005.1','2006.1','2007.1','2008.1','2009.1','2010.1','2011.1','2012.1','2013.1','2014.1',
                                                       '2015.1','2016.1','2017.1','2018.1','2019.1','2020.1','2021.1','2022.1'], var_name ='year_cred_retire', value_name='carbon_cred_retire')

In [118]:
df_melt2.tail(50)

       Project ID year_cred_retire carbon_cred_retire
164137     ACR427             2022                  0
164138    CAR1197             2022                  0
164139     ACR212             2022             54,646
164140    CAR1139             2022                  0
164141     ACR118             2022                  0
164142     ACR269             2022                  0
164143    CAR1292             2022            321,187
164144     CAR102             2022                336
164145     ACR267             2022                  0
164146    CAR1095             2022                  0
164147     CAR768             2022                 29
164148    CAR1257             2022                  0
164149     ACR120             2022                  0
164150     ACR276             2022                  0
164151     ACR413             2022                  0
164152     CAR408             2022             30,363
164153     ACR126             2022              2,330
164154     ACR199             2022                  0
164155     ACR361             2022                  0
164156     ACR420             2022                  0
164157     CAR691             2022             21,317
164158     ACR121             2022                  0
164159    CAR1339             2022                  0
164160     CAR766             2022             95,022
164161     ACR260             2022                  0
164162    CAR1205             2022                  0
164163     ACR248             2022                  0
164164     CAR973             2022                  0
164165    CAR1215             2022                  0
164166     ACR105             2022                  0
164167     CAR730             2022                  0
164168     ACR416             2022                  0
164169     ACR268             2022                  0
164170    CAR1175             2022                  0
164171    CAR1183             2022                  0
164172     ACR211             2022                  0
164173     ACR249             2022                  0
164174     ACR437             2022                  0
164175     ACR114             2022             91,020
164176     ACR303             2022                  0
164177    CAR1264             2022                  0
164178     ACR117             2022            150,000
164179     ACR123             2022                  0
164180     ACR102             2022                  0
164181     CAR639             2022                  0
164182     ACR324             2022                  0
164183     ACR255             2022                  0
164184     ACR360             2022                  0
164185     ACR101             2022                NaN
164186    CAR1000             2022                NaN

In [90]:
df_melt3 = pd.melt(full_df, id_vars='Project ID', value_vars=['1996.3','1997.3','1998.3', '1999.3','2000.3','2001.3','2002.3','2003.3','2004.3',
                                                       '2005.3','2006.3','2007.3','2008.3','2009.3','2010.3','2011.3','2012.3','2013.3','2014.3',
                                                       '2015.3','2016.3','2017.3','2018.3','2019.3','2020.3','2021.3','2022.3'], var_name ='year_cred_reg', value_name='carbon_cred_reg')

In [104]:
df_melt2["year_cred_retire"] = df_melt2["year_cred_retire"].astype("string")
df_melt3["year_cred_reg"] = df_melt3["year_cred_reg"].astype("string")

In [105]:
#data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))
#df_melt2["year_cred_retire"]=df_melt2["year_cred_retire"].map(lambda x: x.rstrip('.1'))
#df_melt2["year_cred_retire"]=df_melt2["year_cred_retire"].str.replace(".1","")
#df_melt3["year_cred_reg"]=df_melt3["year_cred_reg"].str.replace(".3","")
df_melt2["year_cred_retire"]=df_melt2["year_cred_retire"].str[:-2]

In [108]:
df_melt3["year_cred_reg"]=df_melt3["year_cred_reg"].str[:-2]

In [110]:
df_melt3.year_cred_reg.value_counts()

1996    6081
1997    6081
1998    6081
1999    6081
2000    6081
2001    6081
2002    6081
2003    6081
2004    6081
2005    6081
2006    6081
2007    6081
2008    6081
2009    6081
2010    6081
2011    6081
2012    6081
2013    6081
2014    6081
2015    6081
2016    6081
2017    6081
2018    6081
2019    6081
2020    6081
2021    6081
2022    6081
Name: year_cred_reg, dtype: Int64

In [111]:
df_melt_merge=pd.merge(df_melt1, df_melt2, left_on=['Project ID','year_cred_issued'], 
                       right_on=['Project ID','year_cred_retire'], how='outer')

In [112]:
df_melt_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164187 entries, 0 to 164186
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Project ID          164187 non-null  object
 1   year_cred_issued    164187 non-null  object
 2   carbon_cred_issued  164079 non-null  object
 3   year_cred_retire    164187 non-null  string
 4   carbon_cred_retire  164079 non-null  object
dtypes: object(4), string(1)
memory usage: 7.5+ MB

In [114]:
df_melt_merge=pd.merge(df_melt_merge, df_melt3, left_on=['Project ID','year_cred_issued'], 
                       right_on=['Project ID','year_cred_reg'], how='outer')

In [116]:
df_melt_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164187 entries, 0 to 164186
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Project ID          164187 non-null  object
 1   year_cred_issued    164187 non-null  object
 2   carbon_cred_issued  164079 non-null  object
 3   year_cred_retire    164187 non-null  string
 4   carbon_cred_retire  164079 non-null  object
 5   year_cred_reg       164187 non-null  string
 6   carbon_cred_reg     164079 non-null  object
dtypes: object(5), string(2)
memory usage: 10.0+ MB

In [122]:
df_final= pd.merge(full_df.iloc[:,0:18],df_melt_merge, how='left', on='Project ID')

In [123]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164187 entries, 0 to 164186
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Project ID               164187 non-null  object
 1   Project Name             164160 non-null  object
 2   Voluntary Registry       164187 non-null  object
 3   ARB
Project             164187 non-null  object
 4   Voluntary Status         156627 non-null  object
 5   Scope                    164187 non-null  object
 6    Type                    164187 non-null  object
 7   Reduction / Removal      164187 non-null  object
 8   Methodology / Protocol   125901 non-null  object
 9   Region                   164187 non-null  object
 10  Country                  164187 non-null  object
 11  State                    34722 non-null   object
 12  Project Site Location    33777 non-null   object
 13  Project Developer        164187 non-null  object
 14  Total Credits
Issued    164133 non-null  object
 15  Total Credits
Retired   164160 non-null  object
 16  Total Credits Remaining  164187 non-null  object
 17  First Year of Project    97821 non-null   float64
 18  year_cred_issued         164187 non-null  object
 19  carbon_cred_issued       164079 non-null  object
 20  year_cred_retire         164187 non-null  string
 21  carbon_cred_retire       164079 non-null  object
 22  year_cred_reg            164187 non-null  string
 23  carbon_cred_reg          164079 non-null  object
dtypes: float64(1), object(21), string(2)
memory usage: 31.3+ MB

In [124]:
df_final.to_csv("carbon_credits_final.csv")

In [161]:
carbon_e_US=pd.read_csv('US_carbon_emissions.csv')

In [171]:
carbon_e_US.head()

        State   2011   2012   2013   2014   2015   2016   2017   2018   2019
0     Alabama  129.5  122.6  120.5  122.6  119.2  114.0  108.6  112.4  106.3
1      Alaska   37.1   36.2   34.0   33.9   35.0   33.4   33.7   34.5   34.3
2     Arizona   97.7   95.5   99.3   97.3   95.0   90.9   90.5   94.1   92.5
3    Arkansas   67.5   66.3   68.5   68.9   59.1   62.1   64.2   70.8   65.1
4  California  342.7  348.7  349.7  345.4  351.4  353.4  356.5  358.6  358.2

In [172]:
df_melt4 = pd.melt(carbon_e_US, id_vars='State', value_vars=['2011','2012','2013','2014',
                                            '2015','2016', '2017', '2018','2019'], var_name ='year_emission', value_name='carbon_emission_US')

In [174]:
df_melt4.tail(50)

                    State year_emission carbon_emission_US
418               Arizona          2019               92.5
419              Arkansas          2019               65.1
420            California          2019              358.2
421              Colorado          2019               91.7
422           Connecticut          2019               36.6
423              Delaware          2019               13.6
424  District of Columbia          2019                2.8
425               Florida          2019              233.6
426               Georgia          2019              136.5
427                Hawaii          2019               20.5
428                 Idaho          2019               20.1
429              Illinois          2019              203.4
430               Indiana          2019              176.1
431                  Iowa          2019               77.3
432                Kansas          2019               60.5
433              Kentucky          2019              115.4
434             Louisiana          2019              194.9
435                 Maine          2019               14.4
436              Maryland          2019               56.9
437         Massachusetts          2019               63.3
438              Michigan          2019              159.2
439             Minnesota          2019               92.1
440           Mississippi          2019               62.5
441              Missouri          2019              117.0
442               Montana          2019               32.3
443              Nebraska          2019               50.5
444                Nevada          2019               41.7
445         New Hampshire          2019               13.9
446            New Jersey          2019              100.8
447            New Mexico          2019               48.9
448              New York          2019              169.0
449        North Carolina          2019              122.6
450          North Dakota          2019               57.2
451                  Ohio          2019              196.7
452              Oklahoma          2019               90.8
453                Oregon          2019               41.8
454          Pennsylvania          2019              218.7
455          Rhode Island          2019               10.4
456        South Carolina          2019               69.4
457          South Dakota          2019               16.0
458             Tennessee          2019               92.2
459                 Texas          2019              683.2
460                  Utah          2019               61.5
461               Vermont          2019                6.0
462              Virginia          2019              106.8
463            Washington          2019               84.2
464         West Virginia          2019               85.4
465             Wisconsin          2019               94.8
466               Wyoming          2019               59.1
467       Total of states          2019            5,158.8

In [176]:
df_melt4.to_csv("carbon_emission_US_l.csv")